:root {
    --color-primary-main: #038C73;
    --color-secundary-main: #04D9B2;
    --color-background-main: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
}

/*BODY*/

body {
    background-image: url(https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-estatisticas-do-site_114360-1434.jpg?w=740&t=st=1663424744~exp=1663425344~hmac=fc4d7d4ce026f40dae25ddb2562ea710d782113c54c3d2e36c5fb6da4fe723c2);
    background-size: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    color: #325259;
}

/*HEADER*/

header {
    background-color: var(--color-primary-main);
    height: 27px;
    color: white;
}

header ul {
    text-align: center;
    padding-top: 3px;
    padding-right: 3px;
}

header li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

header li:hover {
    cursor: pointer;
    color: black;
}

/* MAIN */

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*SECTION*/

section.valores {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 5px;
    background-color: var(--color-background-main);
    width: 470px;
    margin-right: 100px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

section.valores h2 {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

section.valores h3 {
    width: 180px;
}

section.valores div {
    display: flex;
    margin-bottom: 15px;
}

section.valores p {
    border-radius: 5px;
    background-color: var(--color-primary-main);
    color: white;
    width: 120px;
    margin-right: 15px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

section.valores p:hover {
    color: black;
}