:root {
    --color-primary-main: #038C73;
    --color-secundary-main: #04D9B2;
    --color-background-main: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

body {
    background-color: #b3ebe0b9 ;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*MAIN*/

main {
    background-color: white;
    width: 850px;
    height: 500px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

main:hover {
    cursor: pointer;
}


/* MAIN SECTION IMAGEM*/

main section img {
    width: 350px;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 50px;
    margin-right: 50px;
}


/* MAIN SECTION DADOS*/

main section.dados {
    background-color: var(--color-primary-main);
    color: white;
    width: 350px;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    transition: transform .3s;
}

main section.dados:hover {
    transform: scale(1.1);
}

main section.dados p.email {
    margin-bottom: 5px;
}

main section.dados p.senha {
    margin-bottom: 5px;
}

main section.dados input {
    background-color: white;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 15px;
    height: 30px;
    width: 310px;
    text-align: center;
}

main section.dados div.senha-lembrar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

main section.dados div.senha-lembrar p {

}

main section.dados div.login-conta {
    display: flex;
    justify-content: space-around;
}

main section.dados div.login-conta button {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    width: 100px;
    height: 30px;
    border: 1px;
    border-radius: 15px;
    transition: transform .3s;
}

main section.dados div.login-conta button:hover {
    cursor: pointer;
    transform: scale(1.1);
}