:root {
    --color-primary-main: #038C73;
    --color-secundary-main: #04D9B2;
    --color-background-main: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

body {
    background-color: #038c7362 ;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/*MAIN*/

main {
    background-color: white;
    width: 850px;
    height: 500px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

main:hover {
    cursor: pointer;
}


/* MAIN SECTION IMAGEM*/

main section img {
    width: 350px;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 50px;
    margin-right: 50px;
}


/* MAIN SECTION DADOS*/

main section.dados {
    width: 350px;
    height: 350px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-right: 50px;
    background-color: var(--color-background-main);
    border-radius: 15px; 
}

main section.dados p.email {
    border: 1px solid;
}

main section.dados p.senha {
    border: 1px solid;
}

main section.dados input {
    border: 1px solid;
}

main section.dados div.senha-lembrar {
    display: flex;
    border: 1px solid;
}

main section.dados div.senha-lembrar p {
    border: 1px solid;
}

main section.dados div.login button {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100px;
    height: 30px;
    border: 1px;
    border-radius: 15px;
    background-color: var(--color-primary-main);
    color: white;
    transition: transform .3s;
}

main section.dados div.login button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: black;
}